body {
    margin: 0px auto;
    font-family: Roboto, sans-serif;
    padding-top: 84px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.site_header {
    padding: 20px 0;
    background-color: #007765;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.header_container {
    width: 1219px;
    padding: 0 55px;
    margin: auto;
    box-sizing: border-box;
}

.logo {
    text-decoration: none;
}

.logo img {
    height: 45px;
    width: 184px;
    display: block;
    float: left;
    padding-right: 10px;
}

.logo-text {
    font-size: 24px;
    color: #fff;
    float: left;
    line-height: 45px;
}

.link {
    float: right;
    font-size: 24px;
    color: #fff;
    line-height: 45px;
}

.link a {
    color: #fff;
    text-decoration: none;
}

.main_container {
    width: 1219px;
    margin: 0 auto;
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box;
}

.section_1 {
    background: url(section1_background.png) center no-repeat;
    background-size: cover;
    padding: 320px 0;
    text-align: center;
    scroll-margin-top: 84px;
}

.section_1 h1 {
    color: #fff;
    font-size: 72px;
}

.section_2 {
    padding: 48px;
    scroll-margin-top: 84px;
}

.section_2 h2 {
    font-size: 64px;
    color: #007765;
    text-align: center;
}

.section_2 p {
    font-size: 32px;
    text-align: left;
}

.section_3 {
    background-image: url(hero-block.png);
    background-size: cover;
    background-position: center;
    padding-top: 128px;
    padding-bottom: 128px;
}

.seciton_3_message {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    text-align: center;
}

.section_4 {
    padding: 48px;
    scroll-margin-top: 84px;
}

.section_4 h2 {
    font-size: 64px;
    color: #007765;
    text-align: center;
    margin-bottom: 40px;
}

.section_4_message p {
    text-align: left;
    font-size: 32px;
    margin-bottom: 40px;
}

.section_4_message p:last-child {
    margin-bottom: 0px;
}

.section_4_message p:first-of-type {
    margin-bottom: 0px;
}

.section_4_message img {
    width: 115px;
    height: 115px;
    float: left;
    margin-right: 48px;
}

.section_5 {
    scroll-margin-top: 84px;
    padding: 48px;
    background-color: #eee;
}

.section_5 h2 {
    font-size: 64px;
    color: #007765;
    text-align: center;
    margin-bottom: 40px;
}

.section_5_team figure {
    width: 350px;
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding-bottom: 58px;
}

.section_5_team img {
    height: 168px;
    width: 168px;
}

.section_5 h3 {
    font-size: 24px;
    color: #007765;
}

.section_5 p {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 400;
}

footer {
    background-color: #333;
    padding-top: 48px;
    text-align: center;
}

footer p {
    padding-top: 48px;
    padding-bottom: 64px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
    max-width: 540px;
}